<div id="answer_modal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content" id="modal_answer">
            <button id="answer_close" type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-header" id="modal_header_answer">

                <h3 id="header"></h3>

            </div>
            <div class="modal-body" id="modal_body_answer">

                <h3>Ditt svar:</h3>
                <h4 id="your_answer"></h4>

                <h3>Våre tips til deg:</h3>
                <h4 id="our_tips" ></h4>
            </div>
            <div class="modal-footer" id="modal_answer_footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="ok_button">Ok</button>
            </div>
        </div>
    </div>

</div>