{% extends 'userprofile/userprofile-style-base.html' %}

{% block base %}

    {% if not user.is_authenticated %}

        <meta http-equiv="refresh" content="0; url={% url 'homepage:index' %}" />

    {% endif %}

    <body>

        <div class="top-container">

            <nav style="position: fixed; width: 100%; top: 0; padding-top: 15px; background-color: white; z-index: 10;" class="navbar-collapse" role="navigation">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar">

                            <span class="icon-bar" style="background-color: #000000;"></span>
                            <span class="icon-bar" style="background-color: #000000;"></span>
                            <span class="icon-bar" style="background-color: #000000;"></span>

                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="main_navbar">

                        <ul class="nav navbar-nav navbar-left">

                            <li>
                                <a href="{% url 'homepage:index' %}">

                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Hjem

                                </a>
                            </li>

                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="{% url 'userprofile:profile' %}"
                                    {% if view_id == 0 %}
                                        class="active"

                                    {% endif %}>

                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Min profil

                                </a>
                            </li>

                            <li>

                                <a href="{% url 'userprofile:checklists' %}"
                                    {% if view.id == 1 %}
                                        class="active"
                                    {% endif %} >

                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Mine sjekklister
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'homepage:logout' %}">

                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logg ut
                                </a>
                            </li>
                            &nbsp;
                            &nbsp;

                        </ul>

                    </div>

                </div>

            </nav>

        </div>


    </body>

    {% block content %}

    {% endblock %}

    {% include 'homepage/footer.html' %}


{% endblock %}