{% extends 'userprofile/userprofile-base.html' %}

{% block content %}

    <input type="hidden" id="page_id" value="answers">
    <div class="user-checklists-body">

        <div style="margin-top: 150px;" class="checklists_menu">

            {% if answer_objects.0 %}

                {% for checklist in answer_objects.0 %}

                    <div class="checklists_menu_item" onclick="clickItem(this)" id="item-{{ checklist.id }}">

                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        <h2>{{ checklist.getName }}</h2>

                    </div>

                {% endfor %}

            {% else %}

                <h2 style="margin-bottom: 150px;">Du har ikke svart på noen lister</h2>

            {% endif %}

        </div>
        <script src="../../static/userprofile/js/checklistAnswer.js"></script>
        <div class="answers_content_container" id="answers_content_container">

            {% include 'userprofile/answerlist.html' %}
        </div>
    </div>
    {% include 'userprofile/answer-modal.html' %}

{% endblock %}