{% extends 'homepage/base.html' %}

{% block content %}

    {% include 'homepage/top-image-container.html' %}

    <script src="../../static/homepage/js/scroller.js"></script>
    <input type="hidden" value="110" id="scroll_offset">
    <input type="hidden" value="about_gdpr_part" id="scroll_point">
    <div class="about_gdpr_container">

        <div class="about_gdpr_part" id="about_gdpr_part">

            <h1>Info 1</h1>
            <hr>
            <p>Tekst om info 1 tekst om info 1
                Tekst om info 1 tekst om info 1
                Tekst om info 1 tekst om info 1
                Tekst om info 1 tekst om info 1
                Tekst om info 1 tekst om info 1
                Tekst om info 1 tekst om info.......

            </p>
        </div>

        <div class="about_gdpr_part">

            <h1>Info 2</h1>
            <hr>
            <p>
                Tekst om info 2 tekst om info 2
                Tekst om info 2 tekst om info 2
                Tekst om info 2 tekst om info 2
                Tekst om info 2 tekst om info 2
                Tekst om info 2 tekst om info 2
                Tekst om info 2 tekst om info 2.....

            </p>

        </div>

    </div>

{% endblock %}