{% extends 'homepage/base.html' %}

{% block content %}

    <!--{% include 'homepage/top-image-container.html' %}-->
    <script src="../../static/homepage/js/about.js"></script>
    <script src="../../static/homepage/js/scroller.js"></script>
    <script src="../../static/homepage/js/index.js"></script>
    <input type="hidden" value="100" id="scroll_offset">
    <input type="hidden" value="about_what" id="scroll_point">


    <div class="about-content">
        <!--<h1 class="header">Om Adall</h1>-->
        <div class="about-box-container">

            <div class="about-box">
                <h3>Om Adall</h3>
                <p>Adall blir startet opp gjennom NTNUs Entreprenørskole. Gjennom den toårige mastergraden er målet at studentene skal bli verdens beste forretningsutviklere, gjennom både de akademiske og praktiske tilnærmingene ved det å starte en oppstart. I tillegg til å starte opp i trygge omgivelser gjennom et studieløp, som tar bort en del personlig risiko, har vi flere av det som kan sies å være Norges beste rådgivere og nettverk til å hjelpe oss.</p>
            </div>

            <!--<div class="about-box-bottom">
                <h4>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Teamet
                </h4>
            </div>-->

        </div>

    </div>


    <div class="about_us_container">
        <!--<h1>Team</h1>-->
        <div class="part_container">

            <div class="image-side">

                <img src="../../static/homepage/images/Nina.png" />

            </div>
            <div class="info-side">

                <h3>
                    Nina Bakås
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                </h3>
                <h4>Founder og CEO</h4>
                <h4>nina@adall.no</h4>
                <h4>+47 975 97 891</h4>
                <br>
                <p>Nina studerer første året på mastergraden ved NTNUs Entreprenørskole. Hun har tidligere gått fire år med informatikk og forvaltningsinformatikk med fordypning i informasjonssikkerhet og personvern ved Universitetet i Oslo. Med brennende engasjement for fagfeltene og har hun brukt mye tid på å lese seg opp til GDPR i tillegg til at det ofte blir et naturlig samtaleemne, selv på fest. I 2015 ble Nina og en oppgave om opplæring av informasjonssikkerhet som hun skrev på Universitetet i Oslo referert til i NSMs Sikkerhetsfaglig råd.</p>
            </div>

        </div>

        <div style="background-color: white" class="part_container">

            <div class="info-side">

                <h3>
                    August Lund Eilertsen
                    <span class="glyphicon glyphicon-education"></span>
                </h3>
                <h4>Co-founder og CTO</h4>
                <h4>august@adall.no</h4>
                <h4>+47 906 28 109</h4>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>

            <div class="image-side">

                <img src="../../static/homepage/images/Meg.png" />

            </div>

        </div>

        <div class="part_container">

            <div class="image-side">

                <img src="../../static/homepage/images/image_template.png" />

            </div>

            <div class="info-side">

                <h3>
                    Advokatfirmaet Arktis
                    <span class="glyphicon glyphicon-briefcase"></span>
                </h3>
                <h4>Partner</h4>
                <br>
                <p>Helt fra Adalls begynnelse har Advokatselskapet Arktis vært med som partnere. Som advokatselskap besitter de viktig kunnskap for hvordan personvernforordningen skal tolkes og de jobber svært tett med oss. I tillegg til å være rådgivere som advokater har de lang erfaring med tech-startups og ble derfor den perfekte partner i LawTech-startupen Adall.</p>
            </div>

        </div>

    </div>



{% endblock %}