{% extends 'homepage/base.html' %}

{% block content %}

    {% include 'homepage/top-image-container.html' %}

    <div class="about_main_container">

        <div class="about_container">

            <img src="../../static/homepage/images/Nina.png" />
            <h3>Nina Bakås</h3>
            <hr/>
            <p class="about_title">CEO</p>
            <hr>

            <div class="about_info_container">
              <p class="about_info">+47 97597891</p>
              <p class="about_info">nina.bakas@hotmail.com</p>
            </div>


        </div>

        <div class="about_container">

            <img src="../../static/homepage/images/Meg.png" />
            <h3>August Lund Eilertsen</h3>
            <hr/>
            <p class="about_title">CTO Webutvikler</p>
            <hr>

            <div class="about_info_container">
                <p class="about_info">+47 90628109</p>
                <p class="about_info">augustle.lund@gmail.com</p>
            </div>

        </div>

    </div>

{% endblock %}