{% extends 'homepage/base.html' %}

{% block content %}

    {% include 'homepage/top-image-container.html' %}
    <script src="../../static/homepage/js/about.js"></script>

    <div class="about_us_container">


        <div class="part_general_container" id="about_what">

            <h1>Hva gjør vi?</h1>
            <hr>

            <p>Her kommer det en beskrivelse av hva vi driver med..

                Her kommer det en beskrivelse av hva vi driver med..
                Her kommer det en beskrivelse av hva vi driver med..
                Her kommer det en beskrivelse av hva vi driver med..
                Her kommer det en beskrivelse av hva vi driver med..
            </p>


        </div>

        <div class="part_general_container">

            <h1>Hvem er vi?</h1>
            <hr>

        </div>

    </div>

    <div class="about_us_container">

        <div class="part_container">

            <img src="../../static/homepage/images/Nina.png" />
            <h3>Nina Bakås</h3>
            <hr/>
            <p class="about_title">CEO</p>
            <hr>

            <div class="about_info_container">
              <p class="about_info">+47 97597891</p>
              <p class="about_info">nina.bakas@hotmail.com</p>
            </div>

        </div>

        <div class="part_container" id="part_container">

            <img src="../../static/homepage/images/Meg.png" />
            <h3>August Lund Eilertsen</h3>
            <hr/>
            <p class="about_title">CTO Webutvikler</p>
            <hr>

            <div class="about_info_container">
                <p class="about_info">+47 90628109</p>
                <p class="about_info">augustle.lund@gmail.com</p>
            </div>

        </div>

    </div>

{% endblock %}