{% extends 'homepage/basefile-styling.html' %}

{% block base %}

    <body>

        <div class="top-container">
            <!-- class="navbar navbar-light navbar-fixed-top"  -->
            <nav style="box-shadow: 0 1px 2px -2px #000000;position: fixed; width: 100%;top: 0;padding-top: 15px;padding-bottom: 10px;background-color: #013f2d; z-index: 10;" class="navbar-collapse" role="navigation">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <a id="company_header" class="navbar-brand" href={% url 'homepage:index' %}>
                            <img id="company_header" src="../../static/homepage/images/Logo_green.svg">

                        </a>

                    </div>
                    <div class="collapse navbar-collapse" id="main_navbar">

                        <ul class="nav navbar-nav navbar-right">

                            <li id="nav_about" >
                                <a href="{% url 'homepage:aboutUs' %}"
                                    {% if view.id == 1 %}
                                        class="active"


                                    {% endif %}>

                                    <!--<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>--> OM OSS

                                </a>
                            </li>

                            <li id="nav_gdpr">

                                <a href="{% url 'homepage:aboutGDPR' %}"
                                    {% if view.id == 2 %}
                                        class="active"

                                    {% endif %} >

                                    <!--<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>--> OM GDPR
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'homepage:checklists' %}" id="navigasjons_bar"

                                    {% if view.id == 3 %}
                                        class="active"

                                    {% endif %} >

                                    <!--<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>--> PERSONVERNERKLÆRING
                                </a>

                            </li>

                            {% if user.is_authenticated %}

                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profil <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'userprofile:profile' %}">
                                            <span style="font-size: 11px;" class="glyphicon glyphicon-user" aria-hidden="true"></span> Din profil
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'userprofile:checklists' %}">
                                            <span style="font-size: 11px" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Dine sjekklister
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'homepage:logout' %}" id="navigasjons_bar">
                                           <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logg ut
                                        </a>
                                    </li>
                                  </ul>
                                </li>

                            {% else %}

                                <!--<li>
                                    <a href="{% url 'homepage:login' %}" id="navigasjons_bar"

                                        {% if view_id == 5 %}
                                            class="active"
                                        {% endif %} >

                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logg inn
                                    </a>

                                </li>-->

                            {% endif %}
                            &nbsp;
                            &nbsp;

                        </ul>

                    </div>

                </div>

            </nav>

        </div>


    </body>


    {% block content %}

    {% endblock %}

    {% include 'homepage/footer.html' %}

{% endblock %}