{% extends 'homepage/basefile-styling.html' %}

{% block base %}


    <body>

        <div class="top-container">


            <nav class="navbar navbar-light navbar-fixed-top">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar">

                            <span class="icon-bar" style="background-color: #000000;"></span>
                            <span class="icon-bar" style="background-color: #000000;"></span>
                            <span class="icon-bar" style="background-color: #000000;"></span>

                        </button>
                        <a id="company_header" class="navbar-brand" href={% url 'homepage:index' %}>
                            <img id="company_header" src="../../static/homepage/images/Logo_2-2.svg">

                        </a>

                    </div>
                    <div class="collapse navbar-collapse" id="main_navbar">

                        <ul class="nav navbar-nav navbar-right">

                            <li id="nav_about" >
                                <a href="{% url 'homepage:aboutUs' %}"
                                    {% if view.id == 1 %}
                                        class="active"

                                    {% endif %}>

                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> OM OSS

                                </a>
                            </li>

                            <li id="nav_gdpr">

                                <a href="{% url 'homepage:aboutGDPR' %}"
                                    {% if view.id == 2 %}
                                        class="active"
                                    {% endif %} >

                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> OM GDPR
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'homepage:checklists' %}" id="navigasjons_bar"

                                    {% if view.id == 3 %}
                                        class="active"
                                    {% endif %} >

                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> SJEKKLISTER
                                </a>

                            </li>

                            {% if user.is_authenticated %}

                                <li>
                                    <a href="{% url 'homepage:logout' %}" id="navigasjons_bar"

                                        {% if view.id == 5 %}
                                            class="active"
                                        {% endif %} >

                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logg ut
                                    </a>

                                </li>

                            {% else %}

                                <li>
                                    <a href="{% url 'homepage:login' %}" id="navigasjons_bar">

                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logg inn
                                    </a>

                                </li>

                            {% endif %}
                            &nbsp;
                            &nbsp;

                        </ul>

                    </div>

                </div>

            </nav>

        </div>


    </body>


    {% block content %}

    {% endblock %}

    <div class="footer_body">

        <div class="footer_title">
            <img src="../../static/homepage/images/Logo_2-2.svg">

        </div>

        <div class="footer_mid">

            <div class="footer_field">

                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    Professor Brochs Gate 3, 7030 Trondheim
                </p>
            </div>

            <div class="footer_field">

                <p>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    augustle.lund@hotmail.com
                </p>
            </div>

            <div class="footer_field">


                <p>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    +47 90628109
                </p>
            </div>

        </div>

        <div class="footer_footer">
            <hr class="footer_title_underline">
        </div>

    </div>

{% endblock %}