<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{% block title %}ADALL{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/about.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/aboutGDPR.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/checklists.css' %}" />
    <link rel="shortcut icon" href="../../static/homepage/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>


{% block base %}


{% endblock %}

</html>