{% extends 'homepage/base.html' %}

{% block content %}

    {% include 'homepage/top-image-container.html' %}
    <script src="../../static/homepage/js/scroller.js"></script>
    <input type="hidden" value="110" id="scroll_offset">
    <input type="hidden" value="item_1" id="scroll_point">

    <div class="checklists_menu_container">

        <div class="checklists_menu_part" onclick="clickItem(0)" id="item_1">

            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <h2>Liste 1</h2>

        </div>

        <div class="checklists_menu_part" onclick="clickItem(1)" id="item_2">
             <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
             <h2>Liste 2</h2>
        </div>

        <div class="checklists_menu_part" onclick="clickItem(2)" id="item_3">
             <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
             <h2>Liste 3</h2>
        </div>

        <div class="checklists_menu_part" onclick="clickItem(3)" id="item_4">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
             <h2>Liste 4</h2>
         </div>

        <!--<div class="checklists_menu_part" onclick="clickItem(4)" id="item_5">
            <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
             <h4>Nattbøyle</h4>
        </div>

        <div class="checklists_menu_part" onclick="clickItem(5)" id="item_6">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
             <h4>Vekstplate</h4>
        </div> -->

    </div>

{% endblock %}