{% extends 'homepage/base.html' %}

{% block content %}

    {% include 'homepage/top-image-container.html' %}
    <script src="../../static/homepage/js/checklist.js"></script>
    <script src="../../static/homepage/js/index.js"></script>
    <!--<script src="../../static/homepage/js/scroller.js"></script>
    <input type="hidden" value="350" id="scroll_offset">
    <input type="hidden" value="item_1" id="scroll_point">-->
    <input type="hidden" id="page_id" value="checklists">


    <div class="checklists_menu">

        {% for checklist in query_set.1 %}

            <div class="checklists_menu_item" onclick="clickItem(this)" id="item-{{ checklist.getId }}">

                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h2>{{ checklist.getName }}</h2>

            </div>

        {% endfor %}

    </div>

    <div class="checlists_content_container" id="checlists_content_container">

        {% for checklist in query_set.1 %}

            {% include 'homepage/checklist.html' %}

        {% endfor %}
    </div>

    {% include 'homepage/not-filled-modal.html' %}

{% endblock %}