{% extends 'homepage/base.html' %}


{% block content %}


    {% include 'homepage/top-image-container.html' %}
    <script src="../../static/homepage/js/index.js"></script>
    <script src="../../static/homepage/js/scroller.js"></script>
    <script src="../../static/homepage/js/checklist.js"></script>
    <input type="hidden" value="160" id="scroll_offset">
    <input type="hidden" value="checlists_content_container" id="scroll_point">

    <input type="hidden" id="page_id" value="index">

    <div class="top_space">

    </div>

    <div class="checlists_content_container" id="checlists_content_container">

        {% for checklist in query_set.1 %}

            {% include 'homepage/checklist.html' %}
        {% endfor %}
    </div>


{% endblock %}