{% extends 'homepage/base.html' %}


{% block content %}


    {% include 'homepage/top-image-container.html' %}
    <br>
    <div id="checklist" class="typeform-widget" data-url="https://adall.typeform.com/to/N41azB" style="width: 100%; height: 300px; z-index: -1;transition: all .3s linear;">
    </div>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement,
        gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script");
        js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
    </script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 1; padding-top: 5px;" > powered by
        <a href="https://www.typeform.com/examples/?utm_campaign=N41azB&amp;utm_source=typeform.com-5371058-Pro&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=NO"
           style="color: #999" target="_blank">Typeform
        </a>
    </div>

    <br>
    <hr style="border-color: #555555; border-width: 0.5px">


{% endblock %}