<div class="top_image_container" id="top_image_container">

    <div>

        {% if view.id == 0 %}

            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>

        {% elif view.id == 1 %}
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

        {% elif view.id == 2 %}

            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        {% elif view.id == 3 %}

            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        {% elif view.id == 4 %}

            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
        {% endif %}

    </div>

    <h2>{{ query_set }}</h2>

    <img src="../../static/homepage/images/Background_4.png">

</div>