
body {

    width: 100%;
    font-family: Copperplate;
    font-weight: 500;
}

#company_header {

    height: 40px;
    margin-top: 3px;
    margin-left: 10px;
    padding: 0px;


}

/* TODO DROP DOWN MENU DROP DOWN MENU DROP DOWN MENU DROP DOWN MENU DROP DOWN MENU */


/* TODO END */


/*TODO BLUE NAVBAR*/
.navbar li a {

    color: rgba(0, 0, 0, 0.75);
    font-size: 17px;
}

.navbar li a span {

    font-size: 15px;
}

.navbar {

    padding: 0;
    margin: 0;
    background-color: rgb(120, 210, 251);

    position: fixed;
    box-shadow: 0 2px 2px -2px #000000;
}

/* TODO END BLUE NAVBAR*/

/* TODO WHITE NAVBAR */

.navbar-collapse li a {

    color: rgba(0, 0, 0, 0.75);
    font-size: 15px;
    font-family: Copperplate;
    border-radius: 2px;
}

/* TODO WHITE NAVBAR*/

.navbar li a span {

    font-size: 12px;
}


.active {

    /*background-color: rgba(57, 57, 57, 0.21);*/
    text-decoration: underline;
}

.top_image_container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*box-shadow: 0px 2px 8px -2px #000000;*/
    box-shadow: 1px 2px 2px -2px #000000;
    border-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    /*transition: all 0.4s ease;*/
    transition: all .1s linear;
    z-index: 0;
    margin-top: 70px;
}

.top_image_container img {

    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .1s linear;
    opacity: 0.6;

}

.top_image_container h2 {

    margin-top: 10.0%;
    position: absolute;
    opacity: 0.9;
    font-size: 40px;
    font-family: Copperplate;
    transition: all .1s linear;
    text-align: center;

}

.top_image_container div {

    position: absolute;
    font-size: 110px;
    margin-top: 1%;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    line-height: 1;

}

.top_image_container div img {

    margin-top: 0;
    height: 130px;
    width: auto;
    transition: all .1s linear;

}

.top_image_container div span {

    margin-right: 5%;
    transition: all .1s linear;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;

}


.top_image_container p {

    position: absolute;
    color: black;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 100;
    transition: all .1s linear;
    display: flex;
    text-align: center;

}

.checklist_title {

    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.top_space {

    width: 100%;
    height: 30px;
}

.info-content {

    background-color: rgba(226, 226, 226, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
}

.info-content .header {

    font-size: 37px;
    opacity: 0.8;
}

.info-box-container {

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.info-box-container .info-box {

    min-width: 300px;
    width: 30%;
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;

}
.info-box-container .info-box h3 {

    opacity: 0.8;
    font-size: 25px;
    text-align: center;

}
.info-box-container .info-box p {

    width: 90%;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}


.checklist_title hr {

    margin: 6px;
    width: 40%;
    border-color: rgba(110, 110, 110, 0.52);

    color: #6e6e6e;
    min-width: 160px;
}

.shrink {


    height: 20px;

}


.footer_title {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_title img {

    width: 120px;
    opacity: 0.75;
    padding: 0;
}

.footer-body {

    background-color: rgba(255, 255, 255, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-body .header {

    font-size: 40px;
}

.footer-body-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.footer-body-container .footer-box {

    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 150px;

}
.footer-body-container .footer-box h3 {

    opacity: 0.9;
    font-size: 20px;
    text-align: center;

}

.footer-body-container .footer-box h3 span {

    font-size: 14px;
}
.footer-body-container .footer-box p {

    width: 90%;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    font-family: Copperplate;
}




/* TODO MEDIA QUERIES MEDIA QUERIES*/


@media screen and (max-width: 1000px) {
  .top_image_container div {

      font-size: 70px;
      margin-top: 3.0%;
  }

    .top_image_container h2 {

        font-size: 25px;
        margin-top: 10.0%;
    }
}
@media screen and (max-width: 900px) {

  .top_image_container {

        width: 100%;
  }

  .top_image_container div {

      font-size: 60px;
      margin-top: 3.5%;

  }

    .top_image_container h2 {

        font-size: 20px;
        margin-top: 11.0%;

    }

    #checklist {

        height: 500px;
    }
}

@media screen and (max-width: 800px) {
  .top_image_container div {

      font-size: 60px;
      margin-top: 4.0%;

  }

    .top_image_container h2 {

        font-size: 20px;
        margin-top: 11.5%;

    }
}
@media screen and (max-width: 600px) {
  .top_image_container div {

      font-size: 50px;
      margin-top: 4.0%;
  }

    .top_image_container h2 {

        font-size: 18px;
        margin-top: 11.5%;
    }

    .info-content .header {

        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
  .top_image_container div {

      font-size: 40px;
  }

    .top_image_container h2 {

        font-size: 15px;
        margin-top: 12.5%;
    }

}